:root {
    --primary-color: #356aff;
    --bg-color: #f5f5f5;
    --light-bg-color: #fff;
    --text-color: #111116;
    --light-text-color: #cdccd1;
    --primary-text-color: #fff;
}

::-webkit-scrollbar {
    width: 5px;
}

::-webkit-scrollbar-track {
    border-radius: 30px;
    background: #f1f1f1;
}

::-webkit-scrollbar-thumb {
    border-radius: 30px;
    background: var(--primary-color);
}

::-webkit-scrollbar-thumb:hover {
    background: var(--bg-color);
}

* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

body {
    /* height: 100%; */
    min-height: 110vh;
    width: 100%;
    /* background-color: rgb(255, 255, 255); */
    background-image: url(/images/green_bg.jpg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    /* overflow: hidden; */

}

::-webkit-scrollbar {
    display: none;
}

nav {
    display: flex;
    justify-content: space-around;
    align-items: center;
    height: 100px;
    min-height: 6vh;
    background-color: #d1a3a4;
}

.logo {
    position: absolute;
    height: 100px;
    left: 0px;
    width: 150px;
}

.nav-links {
    display: flex;
    justify-content: space-around;
    width: 60%;
}

.nav-links li {
    list-style: none;
}

.nav-links a {
    color: rgb(15, 1, 1);
    text-decoration: none;
    letter-spacing: 3px;
    /* word-spacing: 5px; */
    font-weight: bold;
    font-size: 19px;
}


header {
    background: rgb(255, 255, 255);
    display: flex;
    margin-top: 13px;
    color: rgb(14, 13, 13);
    text-align: center;
    font-size: 25px;
}

header:before,
header:after {
    content: '';
    margin: auto 1em;
    border-bottom: solid 1px;
    flex: 1;
}

h1 {
    font-family: Courier, monospace;
    display: inline-block;
    overflow: hidden;
    letter-spacing: 2px;
    animation: typing 5s steps(30, end), blink .75s step-end infinite;
    white-space: nowrap;
    font-size: 30px;
    position: relative;
    padding: 0.25em 1em;
    overflow: hidden;
    /* background: linear-gradient(currentcolor, currentcolor) no-repeat top center, linear-gradient(currentcolor, currentcolor) no-repeat bottom center; */
    background-size: calc(100% - 1.65em) 0px;

}
p {
    font-size: 18px;
    font-weight: bold;
    background-color: #f0f0f0;
    padding: 20px;
    border: 2px solid #ccc;
    border-radius: 5px;
}

h1:before,
h1:after {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    border: solid 1px;
    border-top: none;
    border-bottom: none;
    transform: skew(45deg)
}

h1:after {
    transform: skew(-45deg)
}

@keyframes typing {
    from {
        width: 0%
    }

    to {
        width: 100%
    }
}

@keyframes blink {

    from,
    to {
        border-color: transparent
    }

    50% {
        border-color: orange;
    }
}

button {
    padding: 10px;
    background: rgba(2, 2, 2, 0);
    color: rgb(0, 0, 0);
    border: none;
    box-shadow: 12px 10px 12px rgba(76, 86, 126, 0.5);
    border-radius: 8px;
    font-family: "Montserrat";
    align-self: bottom;
}

button:hover {
    background-color: rgb(119, 147, 250);
}

button[type="submit"] {

    width: 100%;
    border: none;
    outline: none;
    padding: 20px;
    font-size: 24px;
    border-radius: 8px;
    background-color: #e2727d;
    font-family: Courier, monospace;
    color: rgb(0, 0, 0);
    text-align: center;
    cursor: pointer;
    margin-top: 10px;
    transition: 0.3s ease background-color;
}

button[type="submit"]:hover {
    background-color: #3dc143;
}

#info {
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 3fr));
    grid-column-gap: 60px;
    grid-row-gap: 20px;
    filter: blur(0);
    grid-area: 20;
    text-align: center;

}

#info img {

    width: 100%;
}

#info img:hover {
    border-top-left-radius: 50px;
}

#info img:active {
    -moz-transform: translate(0, -1em) rotate(10deg);
    -o-transform: translate(0, -1em) rotate(10deg);
    -webkit-transform: translate(0, -1em) rotate(10deg);
}

.img {
    box-sizing: border-box;
    box-shadow: 12px 10px 12px rgba(180, 142, 142, 0.5);
    margin: 8px;
    padding: 3px;
    outline: 0px solid #ddd;
    border: #a1a1a1;
    float: left;
    -webkit-transition: margin 0.25s ease-out;
    -moz-transition: margin 0.25s ease-out;
    -o-transition: margin 0.25s ease-out;

}

.img:hover {
    border-top-left-radius: 50px;
    cursor: pointer;
    margin-top: 0.5px;
    box-shadow: none;
    background-color: rgba(238, 238, 247, 0);
    border-bottom-right-radius: 50px;
    border-top-left-radius: 50px;

}

@media screen and (max-width: 481px) {
    header {
        background: rgba(255, 255, 255, 0);
        display: flex;
        color: black;
        text-align: center;
        font-size: 7px;
    }

    header:before,
    header:after {
        content: "";
        margin: auto 1em;
        border-bottom: solid 1px;

        flex: 1;
    }

    h1 {
        font-family: Courier, monospace;

        display: inline-block;
        overflow: hidden;
        letter-spacing: 2px;
         animation: typing 5s steps(30, end), blink 0.75s step-end infinite; 
        white-space: nowrap;
        font-size: 17px;
        position: relative;
        padding: 0.25em 1em;
        overflow: hidden;
        /* background: linear-gradient(currentcolor, currentcolor) no-repeat top center, */
        /* linear-gradient(currentcolor, currentcolor) no-repeat bottom center; */
        background-size: calc(100% - 1.65em) 0px;
    }

    @keyframes typing {
        from {
            width: 0%;
        }

        to {
            width: 100%;
        }
    }

    @keyframes blink {

        from,
        to {
            border-color: transparent;
        }

        50% {
            border-color: rgb(228, 167, 53);
        }
    }

    h1:before,
    h1:after {
        content: "";
        position: absolute;
        top: 0;
        left: 0;
        bottom: 0;
        right: 0;
        border: solid 1px;
        border-top: none;
        border-bottom: none;
        transform: skew(45deg);
    }

    h1:after {
        transform: skew(-45deg);
    }

    nav {
        display: flex;
        justify-content: space-around;
        align-items: left;
        min-height: 8vh;
        background-color: #d1a3a4;
    }

    .nav-links {
        display: flex;
        justify-content: space-around;
        width: 150%;
    }

    .nav-links li {
        list-style: none;
    }

    .nav-links a {
        color: rgb(7, 0, 0);
        text-decoration: none;
        letter-spacing: 1px;
        font-weight: bold;
        font-size: 12px;
    }
}
.container {
    position: relative;
    width: 1000px;
    padding: 0 20px;
    margin-top: 30px;
    /* justify-content: center; */
    margin-left:221px;
    display: flex;
    gap: 10px;
}

.container .card {
    flex: 1;
    padding: 30px;
    border-radius: 20px;
    background-color: var(--light-bg-color);
}

.container .card .from,
.container .card .to {
    display: flex;
    align-items: center;
    gap: 20px;
}

.container .card .from {
    margin-right: 20px;
}

.container .card .to {
    margin-left: 20px;
}

.container .card .heading {
    font-size: 0.8rem;
    font-weight: 600;
    color: var(--light-text-color);
    white-space: nowrap;
}

.dropdown-container {
    position: relative;
    margin-bottom: 10px;
    width: 100%;
}

.dropdown-container .dropdown-toggle {
    display: flex;
    align-items: center;
    padding: 15px 20px;
    border-radius: 30px;
    background-color: var(--bg-color);
    cursor: pointer;
    transition: all 0.3s;
}

.dropdown-container .dropdown-toggle span {
    flex: 1;
    margin-left: 10px;
}

.dropdown-container .dropdown-toggle ion-icon {
    font-size: 20px;
    transition: transform 0.3s ease;
}

.dropdown-container.active .dropdown-toggle {
    border-radius: 20px 20px 0 0;
}

.dropdown-container.active .dropdown-toggle ion-icon:last-child {
    transform: rotate(180deg);
}

.dropdown-container .dropdown-menu {
    position: absolute;
    top: 100%;
    left: 0;
    width: 100%;
    height: 300px;
    overflow: auto;
    display: none;
    padding: 20px;
    z-index: 1;
    list-style: none;
    flex-direction: column;
    background-color: var(--bg-color);
    transition: all 1s;
    border-radius: 0 0 20px 20px;
}

.dropdown-container .dropdown-menu::-webkit-scrollbar {
    display: none;
}

.dropdown-container.active .dropdown-menu {
    display: flex;
}

.dropdown-container .dropdown-menu li {
    padding: 10px 20px;
    border-radius: 20px;
    cursor: pointer;
    margin-bottom: 5px;
    border-bottom: 1px solid var(--light-bg-color);
    transition: all 0.3s ease;
}

.dropdown-container .dropdown-menu li:hover {
    background-color: var(--light-bg-color);
}

.dropdown-container .dropdown-menu li.active {
    color: var(--primary-text-color);
    background-color: var(--primary-color);
}

.container .text-area {
    position: relative;
}

.container textarea {
    width: 100%;
    padding: 20px;
    margin: 10px 0;
    background-color: transparent;
    resize: none;
    outline: none;
    border: none;
    color: var(--text-color);
    font-size: 18px;
    font-family: "Poppins", sans-serif;
}

.container .text-area .chars {
    position: absolute;
    bottom: 0;
    right: 0;
    padding: 10px;
    font-size: 0.8rem;
    color: var(--light-text-color);
}

.container .center {
    position: relative;
}

.swap-position {
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    top: 30px;
    left: 50%;
    transform: translateX(-50%);
    width: 50px;
    height: 50px;
    border-radius: 50%;
    cursor: pointer;
    border: 5px solid var(--bg-color);
    transition: all 0.3s ease;
    color: var(--primary-text-color);
    background-color: var(--primary-color);
}

.swap-position ion-icon {
    font-size: 25px;
}

.swap-position:hover {
    transform: translateX(-50%) scale(1.1);
}

.card-bottom {
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    padding-top: 20px;
    border-top: 2px solid var(--bg-color);
}

.card-bottom p {
    margin-bottom: 20px;
}

.card-bottom label {
    height: 50px;
    display: flex;
    align-items: center;
    gap: 20px;
    padding: 0 20px;
    cursor: pointer;
    border-radius: 30px;
    background-color: var(--bg-color);
}

.card-bottom label:hover {
    color: var(--primary-text-color);
    background-color: var(--primary-color);
}

.card-bottom span {
    font-size: 12px;
    pointer-events: none;
}

.card-bottom ion-icon {
    font-size: 20px;
}

.card-bottom button {
    height: 50px;
    display: flex;
    align-items: center;
    gap: 20px;
    padding: 0 20px;
    border-radius: 30px;
    border: none;
    outline: none;
    color: var(--text-color);
    cursor: pointer;
    background-color: var(--bg-color);
}

.card-bottom button:hover {
    color: var(--primary-text-color);
    background-color: var(--primary-color);
}

.mode {
    position: fixed;
    bottom: 20px;
    right: 20px;
    z-index: 1;
}

.toggle {
    position: relative;
    cursor: pointer;
}

.toggle-track {
    width: 24px;
    height: 50px;
    border-radius: 30px;
    display: flex;
    align-items: center;
    flex-direction: column;
    padding: 3px 0;
    justify-content: space-between;
    border: 1px solid var(--light-text-color);
    background-color: var(--light-bg-color);
    transition: all 0.2s ease;
}

.toggle-checkbox {
    display: none;
}

.toggle-thumb {
    position: absolute;
    top: 2px;
    left: 2px;
    width: 20px;
    height: 20px;
    border-radius: 50%;
    background-color: var(--primary-color);
    transition: all 0.5s;
}

.toggle input:checked~.toggle-thumb {
    transform: translateY(25px);
}

.toggle img {
    width: 20px;
    height: 20px;
}

/* media quiries */
@media (max-width: 768px) {
    body {
            overflow-x: hidden;
        }
        .navbar {
            display: flex;
            justify-content: center;
            align-items: center;
            background-color: #d1a3a4;
            padding: 10px;
        }
        .pimg1,
        .pimg2,
        .pimg3 {
            background-attachment: scroll;
        }
        .navbar-logo img {
            height: 30px;
            width: 10px;
        }
        .logo {
            height: 10px;
            width: 30px;
        }

        .nav-links {
            display: flex;
            justify-content: center;
            list-style: none;
            width: 30%;
            margin-bottom: 6px;
            margin-left:3px;
        }
        .nav-links li {
            left: 2px;
            padding: 0 10px;
        }
        .nav-links a {
            margin-bottom: 2px;
            font-size: 10px;
            text-decoration: none;
            color: #111116;
            background: #fff;
        font-weight: 900;
            /* width:10%; */
        }
        .container{
            display: flex;
           /* width: 950px;  */
          right: 229px;
            flex-direction: column;
        }
                .input-wrapper,
                .output-wrapper {
                    margin: 0;
                }
        /* .card{
            flex: 1;
        } */

        /* .burger {
            display: none;
            cursor: pointer;
        } */

        /* .burger div {
            width: 25px;
            height: 3px;
            background-color: #111116;
            margin: 5px;
            transition: all 0.3s ease;
        } */
    }

    /* ul{
            position: fixed;
            width: 100%;
            height: 100vh;
            top: 80px;
            left: 0;
            text-align: center;

        }
        nav ul li{
            display: block;
        }
            nav ul li a{
                font-size: 20px;
            } */
    /*
        .nav-links {
            position: absolute;
            right: 0px;
            height: 92vh;
            top: 8vh;
            background-color:#d1a3a4;
            display: flex;
            flex-direction: column;
            align-items: center;
            width: 50%;
            transform: translateX(100%);
            transition: transform 0.5s ease-in;
        }

        .nav-links li {
            opacity: 0;
        }

        .burger {
            display: block;
    p{
        width:400px;
        margin-left: 50px;
    }
    .container {
        width: 500px;
        margin-top: 20px;
        margin-left:11px;
        position: sticky;
        /* margin-right: ; */

        /* flex-direction: column;
    } */

    .container .card {
        width: 100%;

    }

    .container .card .from {
        margin-right: 0;
    }

    .container .card .to {
        margin-left: 0;
    }

    .container .card .from,
    .container .card .to {
        flex-direction: column;
    }

    .swap-position {
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
    }

    .swap-position:hover {
        transform: translate(-50%, -50%) scale(1.1);
    }

    .swap-position ion-icon {
        transform: rotate(90deg);
    }


@media (max-width: 900px) {
         .container {
             display: flex;
             width: 510px;
             right: 229px;
             flex-direction: column;
         }
        }